html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
#root {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  height: auto;
  width: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
html,
#root {
  line-height: 1.34;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  text-align: center;
  background-color: #333333;
}
.App .spinner {
  border-radius: 400px;
  margin-top: 2rem;
  opacity: 0.6;
  object-fit: cover;
}
.App .spinner-center {
  box-shadow: 20px 10px 20px #111111;
  background-color: #000000;
  margin: 20px auto;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 95%;
  padding: 0;
}

.auth-form-wrapper {
  color: #ffffff;
}
.auth-form-wrapper h1 {
  font-size: 15rem;
  color: #ffffff;
  font-style: italic;
  margin-bottom: 1.2rem;
}
.auth-form-wrapper h2 {
  font-size: 3rem;
  color: #7851a9;
  margin-bottom: 1.2rem;
  margin-top: -75px;
}
.auth-form-wrapper a {
  font-size: 10pt;
  text-decoration: none;
  color: #ffffff;
  margin-top: 2rem;
  border: 1px solid white;
  width: 10%;
  padding: 7px;
  border-radius: 10px;
  align-self: center;
  margin-bottom: 78px;
}
.auth-form-wrapper form {
  display: flex;
  flex-direction: column;
}
.auth-form-wrapper form input,
.auth-form-wrapper form select {
  transition: 0.3s;
  outline: none;
  background-color: #666666;
  color: #eee;
  width: 300px;
  margin: 10px auto;
  font-size: 2rem;
  border-radius: 20px;
  padding: 10px 15px;
  border: 2px solid #49157d;
}
.auth-form-wrapper form input:focus,
.auth-form-wrapper form select:focus {
  transition: 0.3s;
  border: 2px solid #f9ed6c;
}
.auth-form-wrapper form select {
  width: 330px;
}
.auth-form-wrapper form input::placeholder,
.auth-form-wrapper form select::placeholder {
  color: #999999;
}
.auth-form-wrapper form button {
  outline: none;
  transition: 0.3s;
  font-size: 2rem;
  color: #fff;
  width: 100px;
  margin: 20px auto;
  background-color: #daa443;
  border: 2px solid #49157d;
  border-radius: 20px;
  padding: 5px 5px;
}
.auth-form-wrapper form button:hover {
  transition: 0.3s;
  background-color: #f9c76c;
  cursor: pointer;
}
.auth-form-wrapper form p {
  color: #fff;
  font-size: 1.8rem;
}
.auth-form-wrapper form .select-dropdown {
  font-size: 20pt;
  padding: 5rem;
}
.auth-form-wrapper form .submit-button {
  margin: 10px auto;
  background-color: #2e2c2c;
  width: 200px;
  border-radius: 25px;
  padding: 11px 0;
  color: #ffd893;
}
.auth-form-wrapper form .submit-button:hover {
  transition: 0.3s;
  color: #020201;
}

.login-form-wrapper {
  color: #ffffff;
  width: 100%;
  height: auto;
}
.login-form-wrapper h1 {
  font-size: 15rem;
  color: #ffffff;
  font-style: italic;
  margin-bottom: 1.2rem;
}
.login-form-wrapper h2 {
  font-size: 3rem;
  color: #7851a9;
  margin-bottom: 1.2rem;
  margin-top: -75px;
}
.login-form-wrapper a {
  font-size: 10pt;
  text-decoration: none;
  color: #ffffff;
  margin-top: 2rem;
  border: 1px solid white;
  width: 10%;
  padding: 7px;
  border-radius: 10px;
  align-self: center;
}
.login-form-wrapper form {
  display: flex;
  flex-direction: column;
}
.login-form-wrapper form input,
.login-form-wrapper form select {
  transition: 0.3s;
  outline: none;
  background-color: #666666;
  color: #eee;
  width: 300px;
  margin: 10px auto;
  font-size: 2rem;
  border-radius: 20px;
  padding: 10px 15px;
  border: 2px solid #49157d;
}
.login-form-wrapper form input:focus,
.login-form-wrapper form select:focus {
  transition: 0.3s;
  border: 2px solid #f9ed6c;
}
.login-form-wrapper form select {
  width: 330px;
}
.login-form-wrapper form input::placeholder,
.login-form-wrapper form select::placeholder {
  color: #999999;
}
.login-form-wrapper form button {
  outline: none;
  transition: 0.3s;
  font-size: 2rem;
  color: #fff;
  width: 100px;
  margin: 20px auto;
  background-color: #daa443;
  border: 2px solid #49157d;
  border-radius: 20px;
  padding: 5px 5px;
}
.login-form-wrapper form button:hover {
  transition: 0.3s;
  background-color: #f9c76c;
  cursor: pointer;
}
.login-form-wrapper form p {
  color: #fff;
  font-size: 1.8rem;
}
.login-form-wrapper form .select-dropdown {
  font-size: 20pt;
  padding: 5rem;
}
.login-form-wrapper form .submit-button {
  margin: 10px auto;
  background-color: #2e2c2c;
  width: 200px;
  border-radius: 25px;
  padding: 11px 0;
  color: #ffd893;
}
.login-form-wrapper form .submit-button:hover {
  transition: 0.3s;
  color: #020201;
}

.landing-page {
  margin: 0 auto;
  height: auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.landing-page h1 {
  font-size: 15rem;
  color: #ffffff;
  font-style: italic;
  margin-bottom: 1.2rem;
}
.landing-page h2 {
  font-size: 3rem;
  color: #7851a9;
  margin-bottom: 1.2rem;
  margin-top: -75px;
}
.landing-page a {
  font-size: 10pt;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid white;
  width: 4%;
  padding: 7px;
  border-radius: 10px;
  align-self: center;
  margin-bottom: 78px;
  margin-top: 10px;
}
.landing-page h4 {
  font-size: 10pt;
  color: #ffffff;
  width: 10%;
  padding: 7px;
  align-self: center;
}

.main-ui-container {
  margin: 0 auto;
  height: 100vh;
}
.main-ui-container nav {
  background-color: #7851a9;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 5rem;
}
.main-ui-container nav h3 {
  color: #fff;
  font-size: 3rem;
  margin-left: 10px;
}
.main-ui-container nav div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-left: 60rem;
}
.main-ui-container nav div a {
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 2rem;
}
.main-ui-container nav div a:hover {
  transition: 0.3s;
  color: #ffd893;
}
.main-ui-container .main-ui {
  color: #fff;
}
.main-ui-container .main-ui h1 {
  font-size: 6rem;
  margin-top: 30px;
}
.main-ui-container .main-ui .jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
}
.main-ui-container .main-ui .jobs .job-card {
  background-color: #666;
  box-shadow: 23px 20px 20px #000000;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px 50px;
  border-radius: 20px;
  padding: 0 50px 50px 50px;
}
.main-ui-container .main-ui .jobs .job-card h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffd893;
}
.main-ui-container .main-ui .jobs .job-card h2 {
  font-size: 2.5rem;
}
.main-ui-container .main-ui .jobs .job-card p {
  font-size: 1rem;
  margin-bottom: 40px;
}
.main-ui-container .main-ui .jobs .job-card div:nth-child(4) {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.main-ui-container .main-ui .jobs .job-card div:nth-child(4) button {
  cursor: pointer;
  color: #f9c76c;
  background-color: #666;
  border: 1px solid #f9c76c;
}

.company-profile-container {
  margin: 0 auto;
  height: 100vh;
}
.company-profile-container nav {
  background-color: #7851a9;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 5rem;
}
.company-profile-container nav h3 {
  color: #fff;
  font-size: 3rem;
  margin-left: 10px;
}
.company-profile-container nav div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-left: 60rem;
}
.company-profile-container nav div a {
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 2rem;
}
.company-profile-container nav div a:hover {
  transition: 0.3s;
  color: #ffd893;
}
.company-profile-container .company-profile {
  margin: 50px auto;
  background-color: #666;
  width: 500px;
  border-radius: 20px;
}
.company-profile-container .company-profile h1 {
  margin-top: 30px;
  font-size: 3.5rem;
  color: #fff;
}
.company-profile-container .company-profile .company-profile-info {
  padding: 30px;
}
.company-profile-container .company-profile .company-profile-info h2 {
  color: #ffd893;
  font-size: 2rem;
}
.company-profile-container .hidden {
  display: none;
}
.company-profile-container .update-btn {
  outline: none;
  transition: 0.3s;
  font-size: 2rem;
  color: #fff;
  width: 150px;
  margin: 20px auto;
  background-color: #daa443;
  border: 2px solid #49157d;
  border-radius: 20px;
  padding: 5px 5px;
}
.company-profile-container .update-btn:hover {
  transition: 0.3s;
  background-color: #f9c76c;
  cursor: pointer;
}
.company-profile-container .input {
  display: flex;
  transition: 0.3s;
  outline: none;
  background-color: #666666;
  color: #eee;
  width: 300px;
  margin: 10px auto;
  font-size: 2rem;
  border-radius: 20px;
  padding: 10px 15px;
  border: 2px solid #49157d;
}
.company-profile-container input::placeholder {
  color: #999999;
}
.company-profile-container .button {
  outline: none;
  transition: 0.3s;
  font-size: 2rem;
  color: #fff;
  width: 150px;
  margin: 20px auto;
  background-color: #daa443;
  border: 2px solid #49157d;
  border-radius: 20px;
  padding: 5px 5px;
}

.seeker-profile-container {
  margin: 0 auto;
  height: 100vh;
}
.seeker-profile-container nav {
  background-color: #7851a9;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 5rem;
}
.seeker-profile-container nav h3 {
  color: #fff;
  font-size: 3rem;
  margin-left: 10px;
}
.seeker-profile-container nav div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-left: 60rem;
}
.seeker-profile-container nav div a {
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 2rem;
}
.seeker-profile-container nav div a:hover {
  transition: 0.3s;
  color: #ffd893;
}
.seeker-profile-container .seeker-profile {
  margin: 50px auto;
  background-color: #666;
  width: 500px;
  border-radius: 20px;
}
.seeker-profile-container .seeker-profile h1 {
  margin-top: 30px;
  font-size: 3.5rem;
  color: #fff;
}
.seeker-profile-container .seeker-profile .seeker-profile-info {
  padding: 30px;
}
.seeker-profile-container .seeker-profile .seeker-profile-info h2 {
  color: #ffd893;
  font-size: 2rem;
}
.seeker-profile-container .hidden {
  display: none;
}
.seeker-profile-container .button {
  outline: none;
  transition: 0.3s;
  font-size: 2rem;
  color: #fff;
  width: 150px;
  margin: 20px auto;
  background-color: #daa443;
  border: 2px solid #49157d;
  border-radius: 20px;
  padding: 5px 5px;
}
.seeker-profile-container .button:hover {
  transition: 0.3s;
  background-color: #f9c76c;
  cursor: pointer;
}

.matches-page-container {
  margin: 0 auto;
  background-color: #333;
  height: 100vh;
}
.matches-page-container nav {
  background-color: #7851a9;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 5rem;
}
.matches-page-container nav h3 {
  color: #fff;
  font-size: 3rem;
  margin-left: 10px;
}
.matches-page-container nav div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-left: 60rem;
}
.matches-page-container nav div a {
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 2rem;
}
.matches-page-container nav div a:hover {
  transition: 0.3s;
  color: #ffd893;
}
.matches-page-container .matches-page {
  color: #fff;
}
.matches-page-container .matches-page h1 {
  font-size: 4rem;
  margin-top: 50px;
}
.matches-page-container .matches-page .jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.matches-page-container .matches-page .jobs .job-card {
  background-color: #666;
  box-shadow: 23px 20px 20px #000000;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px 50px;
  border-radius: 20px;
  padding: 0 50px 50px 50px;
}
.matches-page-container .matches-page .jobs .job-card h1 {
  font-size: 3rem;
  margin: 0;
  color: #ffd893;
}
.matches-page-container .matches-page .jobs .job-card h2 {
  font-size: 2.5rem;
}
.matches-page-container .matches-page .jobs .job-card p {
  font-size: 2rem;
}
.matches-page-container .matches-page .jobs .job-card div:nth-child(4) {
  margin-top: auto;
  display: flex;
  justify-content: center;
}
.matches-page-container .matches-page .jobs .job-card div:nth-child(4) button {
  color: #f9c76c;
  background-color: #666;
  border: 1px solid #f9c76c;
}

/*# sourceMappingURL=index.css.map */
