.landing-page {
  margin: 0 auto;
  width: 100vw;
  height: auto;
  color: #ffffff;
  h1 {
    font-size: 15rem;
    color: #ffffff;
    font-style: italic;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 3rem;
    color: #7851a9;
    margin-top: -75px;
    margin-bottom: 2rem;
  }
}
