.App {
  text-align: center;
  background-color: #333333;
  // padding-bottom: 5rem;

  .spinner {
    border-radius: 400px;
    margin-top: 2rem;
    opacity: 0.6;
    box-shadow: 20px 10px 20px rgb(17, 17, 17);
  }
}
