.company-main-ui-container {
  margin: 0 auto;

  nav {
    background-color: #7851a9;
    display: flex;

    h3 {
      color: #fff;
      font-size: 2rem;
      margin-left: 10px;
    }

    div {
      width: 100%;
      display: flex;
      justify-content: center;

      a {
        transition: 0.3s;
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
        font-size: 2rem;

        &:hover {
          transition: 0.3s;
          color: #ffd893;
        }
      }
    }
  }

  .company-main-ui {
    color: #fff;

    h1 {
      font-size: 4rem;
      margin-top: 50px;
    }

    .jobs {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 50px auto;

      .job-card {
        background-color: #666;
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 30px 50px;
        border-radius: 20px;
        padding: 10px;

        h1 {
          font-size: 3rem;
          margin: 0;
          color: #ffd893;
        }

        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: 2rem;
        }

        div:nth-child(4) {
          margin-top: auto;
          display: flex;
          justify-content: space-between;

          button {
            color: #f9c76c;
            background-color: #666;
            border: 1px solid #f9c76c;
          }
        }
      }
    }
  }
}
