.seeker-profile-container {
  margin: 0 auto;
  height: 100vh;

  nav {
    background-color: #7851a9;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 5rem;

    h3 {
      color: #fff;
      font-size: 3rem;
      margin-left: 10px;
    }

    div {
      width: 30%;
      display: flex;
      justify-content: space-between;
      margin-left: 60rem;
      a {
        transition: 0.3s;
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
        font-size: 2rem;

        &:hover {
          transition: 0.3s;
          color: #ffd893;
        }
      }
    }
  }

  .seeker-profile {
    margin: 50px auto;
    background-color: #666;
    width: 500px;
    border-radius: 20px;

    h1 {
      margin-top: 30px;
      font-size: 3.5rem;
      color: #fff;
    }

    .seeker-profile-info {
      padding: 30px;

      h2 {
        color: #ffd893;
        font-size: 2rem;
      }
    }
  }

  .hidden {
    display: none;
  }

  .button {
    outline: none;
    transition: 0.3s;
    font-size: 2rem;
    color: #fff;
    width: 150px;
    margin: 20px auto;
    background-color: #daa443;
    border: 2px solid #49157d;
    border-radius: 20px;
    padding: 5px 5px;

    &:hover {
      transition: 0.3s;
      background-color: #f9c76c;
      cursor: pointer;
    }
  }
}
